h5 {
  font-size: 1em;
  font-weight: normal;
  color: grey;
}

h4 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0;
}

#sidebar-wrapper {
  height: 100vh;
  min-height: 100vh;
  margin-left: -10rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 1.035rem 1.4rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sidebar-wrapper .sidebar-heading i {
  font-size: 1.2em;
}
#sidebar-wrapper .sidebar-heading h4 {
  margin-left: 0.5em;
}
#sidebar-wrapper .sidebar-heading h4.borrado {
  display: none;
}
#sidebar-wrapper .list-group {
  width: 10rem;
  height: 90%;
}
#sidebar-wrapper .list-group .list-group-item {
  border: none;
  margin: 2rem 0;
}
#sidebar-wrapper .list-group .list-group-item.select {
  color: #001682;
}
#sidebar-wrapper .list-group .list-group-item.select :after {
  position: absolute;
  display: block;
  content: "";
  border: 2px solid #001682;
  height: 100%;
  left: 0;
  top: 0;
}
#sidebar-wrapper span {
  margin-left: 0.5em;
}
#sidebar-wrapper span.borrado {
  display: none;
}

#proyect-wrapper {
  height: 100vh;
  min-height: 100vh;
  margin-left: -18rem;
  text-align: left;
}
#proyect-wrapper .proyect-heading {
  padding: 1.035rem 1.4rem;
  font-size: 1.2rem;
  position: relative;
}
#proyect-wrapper .proyect-heading .btn {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  padding: 0.15rem 0.5rem;
  box-shadow: 2px 2px 6px 0px #ccc;
}
#proyect-wrapper .accordion {
  width: 18rem;
  height: 91vh;
  overflow-y: scroll;
  padding: 1.14rem 1rem 0;
}
#proyect-wrapper .accordion .card-proyect {
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 4px 4px 6px 0px #ccc;
  overflow: hidden;
}
#proyect-wrapper .accordion .card-proyect .card-body {
  padding: 0.7rem 0.8rem;
  border-left: 3px solid #0069d9;
}
#proyect-wrapper .accordion .card-proyect .card-body .perfiles {
  position: relative;
  height: 30px;
}
#proyect-wrapper .accordion .card-proyect .card-body .perfiles .foto {
  position: absolute;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: 1px solid white;
}
#proyect-wrapper .accordion .card-proyect .card-body .perfiles .foto:nth-child(1) {
  left: 0px;
  z-index: 3;
}
#proyect-wrapper .accordion .card-proyect .card-body .perfiles .foto:nth-child(2) {
  left: 22px;
  z-index: 2;
}
#proyect-wrapper .accordion .card-proyect .card-body .perfiles .foto:nth-child(3) {
  left: 44px;
  z-index: 1;
}
#proyect-wrapper .accordion .card-proyect .card-body .perfiles .icons {
  padding-top: 1em;
  font-size: 0.8em;
}
#proyect-wrapper .accordion .card-proyect .card-body .perfiles .icons span:first-child {
  margin-right: 0.5em;
}
#proyect-wrapper .accordion .card-proyect .card-body .perfiles .icons i {
  margin-right: 0.2em;
}
#proyect-wrapper .accordion .card-proyect .card-body.select {
  border-left: 0;
  margin-left: 3px;
}
#proyect-wrapper .accordion .card-proyect .card-body.select .card-title {
  color: white;
}
#proyect-wrapper .accordion .card-proyect .card-title {
  font-weight: bold;
  font-size: 1.1em;
  padding-top: 1em;
}
#proyect-wrapper .accordion .card-proyect .card-subtitle {
  font-weight: normal;
  font-size: 0.8em;
  padding-bottom: 1.5em;
}
#proyect-wrapper .accordion .card-proyect.select {
  color: white;
  background: linear-gradient(180deg, #043a9c 0%, #001682 45%, #02809a 100%);
}
#proyect-wrapper .accordion::-webkit-scrollbar {
  display: none;
}
#proyect-wrapper .accordion::-moz-scrollbar {
  display: none;
}

#page-content-wrapper {
  min-width: 100vw;
  height: 100vh;
}
#page-content-wrapper .page-content-header {
  display: flex;
  justify-content: center;
}
#page-content-wrapper .page-content-header nav:first-child {
  width: 100%;
}
#page-content-wrapper .page-content-header nav:first-child .search {
  width: 60%;
}
#page-content-wrapper .page-content-header nav:first-child .search input {
  width: 100%;
}
#page-content-wrapper .page-content-header nav:first-child i {
  padding: 0 0.2em;
}
#page-content-wrapper .page-content-header nav:last-child {
  width: 350px !important;
  justify-content: start;
}
#page-content-wrapper .page-content-header nav:last-child .imagen {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
}
#page-content-wrapper .page-content-header nav:last-child .user span {
  font-size: 0.75em;
  display: block;
}
#page-content-wrapper .page-content-header nav:last-child .user span:first-child {
  font-size: 0.9em;
  font-weight: bold;
}
#page-content-wrapper .area-trabajo {
  overflow-y: scroll;
  height: 90.5vh;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    text-align: center;
    margin-left: 0;
  }

  #proyect-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #page-content-wrapper .container-fluid nav:first-child i {
    padding: 0 0.5em;
  }

  #wrapper.toggled #sidebar-wrapper .list-group {
    width: 100%;
  }
}
.login-container {
  margin: 0px;
  max-height: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width: 100% !important;
  background-color: #0062cc !important;
}
.login-container .login-form-1 {
  width: 300px;
  height: 310px;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-container .login-form-1 h3 {
  text-align: center;
  color: #333;
}
.login-container .login-form-1 .btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-container .login-form-1 .btnSubmit:focus {
  outline: none;
  box-shadow: 0px 0px 8px 1px rgba(45, 60, 202, 0.71);
}
.login-container .login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
.login-container form {
  padding: 10%;
}

/*# sourceMappingURL=css2.css.map */
